{% load static %}
<!-- Row for logo and sreachbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">ITQAN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">username</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>


            </ul>

        </div>
    </div>
</nav>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
                <a class="d-flex justify-content-center align-items-center" href="">
                    <h1>Vegetables</h1>
                    <img class="mx-2 slider-img" src="static/images/vegetables.jpeg" alt="">
                </a>
        </div>
        <div class="carousel-item">
            <a href="" class="d-flex justify-content-center align-items-center">
                <h1>Fruit</h1>
                <img class="mx-2 slider-img" src="static/images/fruits.jpeg" alt="">
            </a>
        </div>
        <div class="carousel-item">
            <a href="" class="d-flex justify-content-center align-items-center">
                <h1>Beverage</h1>
                <img class="mx-2 slider-img" src="static/images/beverage.jpg" alt="">
            </a>
        </div>
        <div class="carousel-item">
            <a href="" class="d-flex justify-content-center align-items-center">
                <h1>Baby</h1>
                <img class="mx-2 slider-img" src="static/images/baby.jpeg" alt="">
            </a>
        </div>
        <div class="carousel-item">
            <a href="" class="d-flex justify-content-center align-items-center">
                <h1>Bread & Bakery</h1>
                <img class="mx-2 slider-img" src="static/images/bread.jpg" alt="">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- ========== Phone navbar ========== -->
