{% load static %}
<!-- Row for logo and sreachbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">ITQAN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal"
                       data-bs-target="#exampleModal">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">username</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a class="d-flex justify-content-center align-items-center" href="">
                <h1>Vegetables</h1>
                <img class="mx-2 slider-img" src="static/images/vegetables.jpeg" alt="">
            </a>
        </div>
        <div class="carousel-item">
            <a href="" class="d-flex justify-content-center align-items-center">
                <h1>Fruit</h1>
                <img class="mx-2 slider-img" src="static/images/fruits.jpeg" alt="">
            </a>
        </div>
        <div class="carousel-item">
            <a href="" class="d-flex justify-content-center align-items-center">
                <h1>Beverage</h1>
                <img class="mx-2 slider-img" src="static/images/beverage.jpg" alt="">
            </a>
        </div>
        <div class="carousel-item">
            <a href="" class="d-flex justify-content-center align-items-center">
                <h1>Baby</h1>
                <img class="mx-2 slider-img" src="static/images/baby.jpeg" alt="">
            </a>
        </div>
        <div class="carousel-item">
            <a href="" class="d-flex justify-content-center align-items-center">
                <h1>Bread & Bakery</h1>
                <img class="mx-2 slider-img" src="static/images/bread.jpg" alt="">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {#                <h5 class="modal-title" id="exampleModalLabel">Login Form</h5>#}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab d-flex justify-content-center">
                    <button class="tablinks" onclick="openCity(event, 'Login')">Login</button>
                    <button class="tablinks" onclick="openCity(event, 'SignUp')">SignUp</button>
                </div>

                <!-- Tab content -->
                <div id="Login" class="tabcontent">
                    <h3>Login</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <div id="SignUp" class="tabcontent">
                    <h3>SignUp</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label  class="form-label">First Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <div id="Tokyo" class="tabcontent">
                    <h3>Tokyo</h3>
                    <p>Tokyo is the capital of Japan.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>